<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
      <a href="/">Home</a> &copy; 2024 - Matthew Johnson
    </p>
    <p class="navbar-text pull-right">
      <span class="sr-only">Follow me on social media:</span>
      {% include social-footer.html %}
    </p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>
